@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
}
body{
    display:flex;
    margin:0;
    background-color:#f8f8ff;
}
a{
    text-decoration: none;
}
a:hover{
    color:#b66e11
    
}
.column-left{
    background-color: #3a3939;
    color: white;
    width: 500px;;
    height: 100vh;
    
    
}
.column-left h1{
    font-size: medium;
}
.left-header{
    background-color: black;
}
.personal-info-item-detail{
    font-size: .8rem;
}
.column-right{
    margin-left: 1rem;
    margin-right: 3rem;
    margin-top: 1rem;
   
}
.objective{
    font-size: 1.2rem;
    font-weight: bold;
}
.right-header{
    font-size: medium;
    border-top: .2rem solid rgb(168, 161, 161) ;
    border-bottom: .2rem solid rgb(168, 161, 161) ;
}
.education-header{
    display: flex;
    font-weight:550;
    margin-left: 1rem;
    
 
}
.education-header>div{
    margin-right: 1.5rem;
}
.education ul{
    margin-left: 5rem;
}
.project-name{
    margin-left: 10rem;
    font-weight: 580;
    padding-bottom: 0rem;
}
.project-detail ul{
    margin-top: .5rem;
}
.projects ul{
    margin-left: 5rem;
}
